* {
    margin: 0;
    padding: 0;
}

:root {
    --bg: #FFF275; 
    --bg2: #FFE600;
    --border: #665e13;
}

body {
    background: var(--bg);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.panel {
    width: 30vw;
    height: 90vh;
    color: black;
    background-color: var(--bg2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.5rem;
    box-shadow: var(--border) 3px 3px 6px;
    gap: 2rem;
}

.title {
    text-align: center;
    font-size: 4vh;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.input-div {
    width: calc(100vw - 70vw);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
}

.panel-label {
    font-size: 3vh;
}

input {
    outline: none;
    border: none;
    text-indent: 5px;
    box-shadow: #333 3px 3px 6px;
    border-radius: 0.5rem;
    height: 10vh;
    text-align: center;
}

#masa {
    width: 10vw;
}

#grado {
    width: 5vw;
}

select {
    outline: none;
    border: none;
    text-indent: 5px;
    width: 10vw;
    height: 5vh;
    box-shadow: #333 3px 3px 6px;
    border-radius: 0.5rem;
    text-align: center;
}

.row-div {
    flex-direction: row;
    gap: 3rem;
}

.input-div-snd {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}

#calcular {
    width: 30%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    box-shadow: #333 3px 3px 6px;
}